.hour {
  height: 2em;
  border-top: 1px solid #aaa;
  cursor: pointer;
}

.hour:hover {
  background-color: #ffd;
}

.hour.half {
  border-top: 1px dashed #eee;
}

.hour.half:last-child {
  border-bottom: 1px solid #aaa;
}

.hour.unavailable {
  color: #bbb;
  background-color: #ddd;
  border-color: #ccc;
  cursor: no-drop;
}
